
<div class="container">
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
    <app-client-view (clickEvent)="handleClientClick($event)"></app-client-view>
</div>
