<!-- <div id="solution-box">
    <h3>Solution name</h3>
    <p>Tag line</p>
</div> -->


<!-- <div>
    <a class="css-d9g9pf e1p7ctrq2" href="/blog/events/graphql-summit-is-back/"><img style="height:160px" src="/blog/static/1600x800-4f5ee040dcb3dec27ea289854acc3635.png" class="css-jkipdb eaxn2vx1"><h6 class="css-a9ekrd eaxn2vx0">May 26, 2022</h6><h4>Mark Your Calendar: GraphQL Summit is Back, Submit your Talk Proposals Now!</h4><nav class="css-1kis85a eaxn2vx6"><a class="css-bh7dg3 eaxn2vx4" href="/blog/events/1">Events</a></nav><p class="css-i3pbo eaxn2vx2" style="font-size: 13px; margin-top: 16px;">Calling all GraphQL developers: GraphQL Summit, the world’s first and largest conference celebrating the GraphQL community is back, and we can’t wait to host you in person in sunny San Diego! GraphQL Summit will take place at the Sheraton San Diego Hotel &amp; Marina October 3-5, 2022 We are aware that Summit falls on several […]
</p></a></div> -->
<div>
    <a class="css-d9g9pf" href="#">
        <img src="/assets/solution-picture.jpeg" class="css-jkipdb" style="height: 160px;">
        <!-- <h6 class="css-a9ekrd eaxn2vx0">May 26, 2022</h6> -->
        <h4>Card's Offers: Help your customers to leverage the payment using cards!</h4>
        <nav class="css-1kis85a eaxn2vx6">
            <a class="css-bh7dg3 eaxn2vx4" href="#">Credit card</a>
            <a class="css-bh7dg3 eaxn2vx4" href="#">Debit card</a>
        </nav>
        <p class="css-i3pbo eaxn2vx2" style="font-size: 13px; margin-top: 16px;">
            Calling all GraphQL developers: GraphQL Summit, the world’s first and largest conference celebrating the GraphQL community is back, and we can’t wait to host you in person in sunny San Diego! GraphQL Summit will take place at the Sheraton San Diego Hotel &amp; Marina October 3-5, 2022 We are aware that Summit falls on several […]
        </p>
    </a>
</div>
