
        <div class="main grid-container">
            <div id="col-1" class="grid-container">
                <div id="api-method">METHOD</div>
                <div id="api-name">API/ SDK FUNCTION NAME</div>
                <div id="postman">RUN IN POSTMAN</div>
                <div id="solution">SOLUTION/ SDK </div>
                <div id="overview">
                    <h4>OVERVIEW</h4> 
                    <div>
                        <p>     
                            Before you can instruct Twilio on what to do in response to an incoming call, you first need to expose your server to the public. When you run your local development server, the odds are very high it is only accessible from your local network. But don't worry - we'll show you an easy way to test your server.
                            Many Twilio products and services use webhooks to communicate with your application. For example, when Twilio receives an incoming call, it reaches out to a specific URL you provide to search for instructions on how to handle the response.
                            The small piece of code in server.js is an example of one instruction you can use to 'speak' back to the caller. We just have to find a way to expose this server to the public.
                            While there are many ways to make this code public (for example by deploying it to a host), we recommend a tool called ngrok. When you start ngrok, it provides a unique URL on the ngrok.io domain and forwards incoming requests to your local development environment.
                            The architecture looks like this
                        </p>
                        <div id="use-case">
                            <h5>USE CASES</h5>
                            <p>
                                1. Use case 1 ..... For example, when Twilio receives an incoming call <br />
                                2. Use case 2 ..... For example, when Twilio receives an incoming call<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div id="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GZvSYJDk-us" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div id="dependency">
                    <h4>DEPENDENCIES</h4> 
                    <div>
                        <p>Name: <a href="#">Link to dependency</a></p>
                        <p>Values: 
                            <span>attr 1</span>
                            <span>attr 2</span>
                            <span>attr 3</span>
                        </p>
                    </div>
                </div>
                <div id="request">
                    <h4>REQUEST</h4>
                    <div id="req-head">
                        <p>HEAD</p>
                        <div class="grid-container row heading-1">
                            <div>Attributes</div>
                            <div>Description</div>
                        </div>
                        <div class="grid-container row">
                            <div class="attr">
                                <div>attr 1</div>
                                <div>String</div>
                                <div>Optional</div>
                            </div>
                            <div id="attr-overview">
                                When you run your local Before you can instruct Twilio on what to do in response to an incoming call, you first need to expose your server to the public. When you run your local development server, the odds are very high it is only accessible from your local network. But don't worry - we'll show you an easy way to test your server.  
                                <div>Example: ABCD</div>
                            </div>
                        </div>
                        <div class="grid-container row">
                            <div class="attr">
                                <div>attr 2</div>
                                <div>String</div>
                                <div>Required</div>
                            </div>
                            <div>
                                When you run your local development server, the odds are very high it is only accessible from your local network. But don't worry - we'll show you an easy way to test your server. Many Twilio products and services use webhooks to communicate with your
                                <div>Example: ABCD</div>
                            </div>
                        </div>
                        <div class="grid-container row">
                            <div class="attr">
                                <div>attr 3</div>
                                <div>String</div>
                                <div>Conditional</div>
                            </div>
                            <div>
                                When you run your local development server, the odds are very high it is only accessible from your local network. But don't worry - we'll show you an easy way to test your server. Many Twilio products and services use webhooks to communicate with your
                                <div>Example: ABCD</div>
                            </div>
                        </div>
                    </div>
                    <div id="req-body">
                        <h4>BODY</h4>
                        <div class="grid-container row heading-1">
                            <div>Attributes</div>
                            <div>Description</div>
                        </div>
                        <div class="grid-container row">
                            <div class="attr">
                                <div>attr 1</div>
                                <div>String</div>
                                <div>Optional</div>
                            </div>
                            <div id="attr-overview">
                                When you run your local defs dsfdsfsdfdsfsd fdsfds fsg fg fsdg fsd ge t rfgdgf dsg fsgrw eg fgwerg  rtghty ju kiuk j yt refe sc gytgtr hegwe grht  yjui k ugr  
                                <div>Example: ABCD</div>
                            </div>
                        </div>
                        <div class="grid-container row">
                            <div class="attr">
                                <div>attr 2</div>
                                <div>String</div>
                                <div>Required</div>
                            </div>
                            <div>
                                When you run your local development server, the odds are very high it is only accessible from your local network. But don't worry - we'll show you an easy way to test your server. Many Twilio products and services use webhooks to communicate with your
                                <div>Example: ABCD</div>
                            </div>
                        </div>
                        <div class="grid-container row">
                            <div class="attr">
                                <div>attr 3</div>
                                <div>String</div>
                                <div>Conditional</div>
                            </div>
                            <div>
                                When you run your local development server, the odds are very high it is only accessible from your local network. But don't worry - we'll show you an easy way to test your server. Many Twilio products and services use webhooks to communicate with your
                                <div>Example: ABCD</div>
                            </div>
                        </div>
                    </div>
                    <div id="req-query-params">
                        <p>Query Params</p>
                        <div class="grid-container row heading-1">
                            <div>Attributes</div>
                            <div>Description</div>
                        </div>
                        <div class="grid-container row">
                            <div class="attr">
                                <div>attr 1</div>
                                <div>String</div>
                                <div>Optional</div>
                            </div>
                            <div id="attr-overview">
                                When you run your local defs dsfdsfsdfdsfsd fdsfds fsg fg fsdg fsd ge t rfgdgf dsg fsgrw eg fgwerg  rtghty ju kiuk j yt refe sc gytgtr hegwe grht  yjui k ugr  
                                <div>Example: ABCD</div>
                            </div>
                        </div>
                        <div class="grid-container row">
                            <div class="attr">
                                <div>attr 2</div>
                                <div>String</div>
                                <div>Required</div>
                            </div>
                            <div>
                                When you run your local development server, the odds are very high it is only accessible from your local network. But don't worry - we'll show you an easy way to test your server. Many Twilio products and services use webhooks to communicate with your
                                <div>Example: ABCD</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="response">
                    <h4>RESPONSE</h4>
                    <!-- <div id="res-head"> -->
                        <div class="grid-container row heading-1">
                            <div>Attributes</div>
                            <div>Description</div>
                        </div>
                        <div class="grid-container row">
                            <div class="attr">
                                <div>attr 1</div>
                                <div>Object</div>
                                <div>Emptiable</div>
                            </div>
                            <div id="attr-overview">
                                <div>When you run your local Before you can instruct Twilio on what to do in response to an incoming call, you first need to expose your server to the public. When you run your local development server, the odds are very high it is only accessible from your local network. But don't worry - we'll show you an easy way to test your server.</div>  
                                <button>Expande</button> ...
                                <div>
                                    <div class="grid-container row res-sub-row">
                                        <div class="attr">
                                            <div>attr 1 sub</div>
                                            <div>String</div>
                                            <!-- <div></div> -->
                                        </div>
                                        <div id="attr-overview">
                                            When you run your local Before you can
                                        </div>  
                                    </div>
                                    <div class="grid-container row res-sub-row">
                                        <div class="attr">
                                            <div>attr 2 sub</div>
                                            <div>String</div>
                                            <!-- <div></div> -->
                                        </div>
                                        <div id="attr-overview">
                                            When you run your local Before you can
                                        </div>  
                                    </div>                       
                                </div>
                                <!-- <div>Example: ABCD</div> -->
                            </div>
                        </div>
                        <div class="grid-container row">
                            <div class="attr">
                                <div>attr 2</div>
                                <div>Number</div>
                                <div>Nullable</div>
                            </div>
                            <div id="attr-overview">
                                <div>Do in response to an incoming call, you first need to expose your server to the public. When you run your local development server, the odds are very high it is only accessible from your local network. But don't worry - we'll show you an easy way to test your server.</div>
                                <!-- <div>Example: ABCD</div> -->
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
                <div id="error" class="">
                    <div id="head"><h4>ERRORS</h4></div>
                    <div id="code-head">Codes</div>
                    <div id="desc-head">Description</div> 
                    <div id="code">1123</div>
                    <div id="codes-desc">
                        <p>Not found</p>
                        <p>Resolution: Check if api route is correct or not</p>
                    </div>
                    <div id="code">2343</div>
                    <div id="codes-desc">
                        <p>Not found</p>
                        <p>Resolution: Check if api route is correct or not</p>
                    </div>
                </div>
            </div>
            <div id="api-console" class="docs-coderail docs-layout-column twlo-code">
                <header class="twlo-code-header rail-title">
                    <div class="twlo-code-header__title">
                    <a href="#linkcode">
                    <div class="twlo-code-header__title-inner">Remove a Participant</div>
                    <div class="twlo-code-header__title-loading"></div>
                    </a>
                    <svg class="twlo-icon-interface-dropdown" height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M15 7l-6 6-6-6V6h1l5 5 5-5h1v1z" fill="currentColor"></path></svg>
                    </div>
                    <ul class="twlo-code-header__dropdown"><li class="twlo-code-header__dropdown-item" data-sample-language="code-retrieve-a-participant">Retrieve a Participant</li><li class="twlo-code-header__dropdown-item active" data-sample-language="code-remove-a-participant">Remove a Participant</li><li class="twlo-code-header__dropdown-item" data-sample-language="code-retrieve-a-list-of-connected-participants">Retrieve a list of connected Participants</li><li class="twlo-code-header__dropdown-item" data-sample-language="code-retrieve-a-list-of-disconnected-participants">Retrieve a list of disconnected Participants</li></ul>
                    <div class="twlo-code-header__actions">
                    <ul class="twlo-code-header__languages"><li class="twlo-code-header__language active" data-sample-language="Node.js">Node.js</li><li class="twlo-code-header__language" data-sample-language="C#">C#</li><li class="twlo-code-header__language" data-sample-language="PHP">PHP</li><li class="twlo-code-header__language" data-sample-language="Ruby">Ruby</li><li class="twlo-code-header__language" data-sample-language="Python">Python</li><li class="twlo-code-header__language" data-sample-language="Java">Java</li><li class="twlo-code-header__language" data-sample-language="curl">curl</li><li class="twlo-code-header__language" data-sample-language="twilio-cli">twilio-cli</li></ul>
                    <ul class="twlo-code-header__versions"><li class="twlo-code-header__version active" data-sample-language="3.x">3.x</li></ul>
                    </div>
                </header>
                <div class="twlo-code__sample">
                    <div class="twlo-code__actions">
                    <!-- <span class="twlo-code__action twlo-code__outdated hidden">
                            You are viewing an outdated version of this SDK.
                          </span> -->
                    <span class="twlo-code__action clippy"><span class="twlo-code__action-label hidden"></span>
                    <svg class="twlo-icon-interface-clipboard" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M16 7v2h-5v2L8 8l3-3v2h5zM8 5H4v1h4V5zm-4 7h5v-1H4v1zm9-1h1v3H2V0h12v5h-1V3H3v10h10v-2zM3 2h10V1H3v1zm1 7v1h3V9H4zm0-1h3V7H4v1z" fill="currentColor"></path></svg>
                    </span>
                    <a class="twlo-code__action github hidden" href="#" target="_blank">
                    <svg class="twlo-icon-interface-repo" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M5 3H4V2h1v1zm0 1H4v1h1V4zm0 4H4v1h1V8zm0-2H4v1h1V6zm9-6v14H7v2l-1.5-1L4 16v-2H2V0h12zm-1 11H3v2h1v-1h3v1h6v-2zm0-10H3v9h10V1z" fill="currentColor"></path></svg>
                    </a>
                    </div>
                    <div class="code-container" tabindex="">
                        <!-- <code class=""> -->

                            <div class="serial-number">
                                1.
                                <!-- <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span> -->
                            </div>

                            <div>
                                1.
                            </div>
                            
                            
                        <!-- </code> -->
                        </div>
                    <div class="docs-coderail__next">
                    <a class="docs-coderail__next-link" href="#">Next Sample</a>
                    </div>
                </div>
            </div>
        </div>