<h1>Mtuzo card offers</h1>

<div style="display: flex;">
    <div style="flex-basis: 80%">
        <div>
            <h2>Overview</h2>
            <p>
                Showcase the debit/credit card offers in your application using offers solution of mtuzo. Depending upon usecase
                you may show both online and(or) offline offers valid on debit/credit cards to the user.
            </p>
        </div>
    
        <div id="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M-ooN7ZYYOg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    
        <div>
            <h2>Dependency chart</h2>
            <img src="/assets/api-reliance-chart.jpeg" class="css-jkipdb" style="height: 160px;">
        </div>
    
        <div>
            <h2>Main APIs</h2>
            <p>
                Main apis are end apis that you need to implement the functionality you are looking for.
                These apis can be independent or dependent on asset apis (below). For dependency you may
                check the dependency char (above) or may find the details into the futher details of api
            </p>
            <div class="css-wqayaq">
                <app-main-api-gate-view></app-main-api-gate-view>
                <app-main-api-gate-view></app-main-api-gate-view>
                <app-main-api-gate-view></app-main-api-gate-view>
            </div>
        </div>

        <div>
            <h2>Asset APIs</h2>
            <p></p>
            <div class="css-wgp850">
                <app-asset-api-gate-view></app-asset-api-gate-view>
                <app-asset-api-gate-view></app-asset-api-gate-view>
                <app-asset-api-gate-view></app-asset-api-gate-view>
                <app-asset-api-gate-view></app-asset-api-gate-view>
            </div>
        </div>
    
    </div>
    <div id="on-this-page">
        <span style="display: block; border-left: 1px solid #DEE2E7; padding-left: 20px;">
            <h3>On this page</h3>
            <ol>
            <li>Overview</li>
            <li>Dependency chart</li>
            <li>Main apis</li>
            <li>Asset apis</li>
            </ol> 
        </span>
        
    </div>
</div>
