

<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
      <p><a class="mat-button" routerLink="/home">Home</a></p>
      <hr />
      <p><a class="mat-button" routerLink="/question">Questions</a></p>
    </mat-drawer>
  
    <div class="sidenav-content">
      <!-- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
        <router-outlet>
        </router-outlet>
    </div>

</mat-drawer-container>
  