

<!-- <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
      <p><a class="mat-button" routerLink="/home">Home</a></p>
      <hr />
      <p><a class="mat-button" routerLink="/question">Questions</a></p>
    </mat-drawer>

    <div class="header">
      <button type="button" routerLink="auth/login">Login</button>
      <button type="button" routerLink="auth">Register</button>
      <span *ngIf="user">Welcome {{user?.fullName}} </span>
    </div>
  
    <div class="sidenav-content">
        <router-outlet>
        </router-outlet>
    </div>
</mat-drawer-container> -->
  
<router-outlet>
</router-outlet>