.css-44t3mj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    padding: 1.5rem;
    border-style: solid;
    border-color: #DEE2E7;
    border-radius: 0.375rem;
    border-width: 1px;
}

.css-18qaeu5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    height: 100%;
}

.css-5fiis1 {
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 1rem;
}

.css-rmxdag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.css-rmxdag>*:not(style)~*:not(style) {
    margin-top: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    -webkit-margin-start: 0.75rem;
    margin-inline-start: 0.75rem;
}

.css-ga8r0w {
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.css-rszk63 {
    margin-bottom: 1rem;
}

.css-bceg84 {
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: #3f20ba;
    margin-top: auto;
    font-weight: 600;
}