<a class="css-1puwob3" href="#" style="transform-origin: 50% 50% 0px;">
    <div class="css-1nh3gg2">
        <img src="assets/credit-cards.png" alt="Space shuttle" style="transform-origin: 50% 50% 0px;">
    </div>
    <div class="css-1co4oki">
        <div class="chakra-stack css-1w189gh">
            <h3 class="css-bvta0k" style="transform-origin: 50% 50% 0px;">Online Offers</h3>
            <p class="css-1bife2t">
                The Offers-Near-Me API is available in multiple variants (as detailed below). Choose the one that works best for your current environment. Also read how this API can be used for Offers-near-ATM use-case
            </p>
            <a class="css-bceg84" href="">
                Learn about online offers
            </a>
        </div>
    </div>
</a>